<% if logged_in? %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
        </section>
    </aside>
    <div class ="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed'%>
    </div>
    </div>
<% else %>
<div class = "center jumbotron">
    <h1>
        Welcome to Blog Space!
    </h1>
    <h2>
        This is the home page for Blog Space sample application.
    </h2>
    <%= link_to "Sign up now!", signup_url, class: 'btn btn-primary btn-lg' %>
</div>
<% end %>